.idea
.vscode/
*.pyc
*.xml
*.env
*.log
**/__pycache__/
.claude


# Gitignore log and data folders. Only code in git.
log/
dataset/

**/.secret


deploy.sh
deployinstructions.md

*.egg-info/
build/
dist/



__pycache__
# Sphinx
docs/_build/
# MkDocs
site/
